.basketIsEmpty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btnBackToHome {
  display: flex;
  justify-content: center;
  margin: 0.2rem;
  flex-direction: row;
  background-color: rgba(249, 225, 0, 0.7803921569);
  color: black;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

//Товары есть в корзине

.basketStyle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.totalprice {
  position: fixed;
  top: 9rem;
  right: 14rem;
  width: 15rem;
  background: rgb(220, 204, 204);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  background: rgba(249, 225, 0, 0.7803921569);
  color: black;
  font-weight: 600;
}
