.header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(250, 217, 0);
}

.rightAside{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 37px;
}

.logoDiv{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fa_heart_style {
    content: "\f004";
    margin-right: 20px;
    font-size: 30px;
}
.searchInput{
    font-size: 2rem;
    height: 4rem;
    border-radius: 30px;
    margin-top: 2rem;
    position: relative;
    min-width: 0;
    width: 37rem;
    padding: 2rem;
    text-align: center; 

    &::after{
        content:'a';
        background-color: red;
        width: 100%;
        height: 100%;
    }
}

// .inputCross{
//     font-size: 47px;
//     margin-left: -50px;
//     position: relative
// }

.btn{
    font-size: 30px;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid black;
}

    .logo{
    font-size: 4rem;
}